<h1 class="red row center-xs"> INFORMACION DEL USUARIO</h1>
<div class="row center-xs" >
	<%="NOMBRE"%>: <%= @register.nombre %>
</div>
<div class="row center-xs" >
	<%="TELEFONO"%>: <%= @register.telefono %>
</div>
<div class="row center-xs" >
	<%="CELULAR"%>: <%= @register.celular %>
</div>
<div class="row center-xs" >
	<%="CORREO ELECTRONICO"%>:<%= @register.email %>
</div>


